<!DOCTYPE html>
<html lang="pt-br">
	{%load static%}
	<head>
    	<meta charset="UTF-3">
    	<title>{{ titulo }}</title>
	</head>
	<body>
		<table border="1" width="32%" align="center">
			<tr>
				<td>
					<div align="center">
						<h1> Tela de Cadastro</h1><br/>
						<p> Insira abaixo os seus respectivos dados para efetuar o cadastro:</p><br/>
							<form action="https://www.youtube.com" method="post">
								<table>
									<tr>
										<td align="right"><p>Nome:</p></td>
										<td align="left"><input type="name" name="nome" required></td>
									</tr>
									<tr>
										<td align="right"><p>E-mail:</p></td>
										<td align="left"><input type="email" name="e-mail" required></td>
									</tr>
									<tr>
										<td align="right"><p>Senha:</p></td>
										<td align="left"><input type="password" name="senha" required></td>
									</tr>
									<tr>
										<td align="right"><p>Sexo:</p></td>
										<td align="left"><input type="radio" name="masculino" checked>Masculino 
											<input type="radio" name="feminino">Feminino</td>
									</tr>			
								</table>
								<button type="submit" value="confirm">Confirmar</button>
								<button type="reset" value="clear">Limpar</button><br/><br/>
							</form>
						</div>
					</td>
				</tr>
			</table>
		<p align="center">Copyright&copy; 2019. Anderson e Jardesson</p>
	</body>
</html>